#include <windows.h>
#include <commctrl.h>
#include <richedit.h>
#include "resource.h"


LANGUAGE 0, SUBLANG_NEUTRAL
DLG_MAIN DIALOG 0, 0, 652, 300
STYLE DS_3DLOOK | DS_CENTER | DS_MODALFRAME | DS_SHELLFONT | WS_CAPTION | WS_VISIBLE | WS_POPUP | WS_SYSMENU
CAPTION "ENCRIPTADOR DE CUENTAS LOCALES"
FONT 10, "Ms Shell Dlg"
{
    CONTROL "", AP_EDIT_C1,"Edit", ES_CENTER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 10,70,100,12
    CONTROL "", AP_EDIT_C2,"Edit", ES_CENTER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 115,70,100,12
    CONTROL "", AP_EDIT_C3,"Edit", ES_CENTER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 10,100,205,12
    CONTROL "CREAR NUEVA APLICACIÓN", AP_BTN_C, "Button", 0x10010000 , 10,115,205,20

    CONTROL "", AP_EDIT_M1,"Edit", ES_CENTER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 10,160,100,12
    CONTROL "", AP_EDIT_M2,"Edit", ES_CENTER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 205,160,10,12
    CONTROL "", AP_EDIT_M3,"Edit", ES_CENTER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 10,190,205,12
    CONTROL "MODIFICAR PARAMETRO", AP_BTN_M,   "Button", 0x10010000 , 10,205,205,20

    CONTROL "", AP_EDIT_E1,"Edit", ES_CENTER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 10,250,205,12
    CONTROL "ELIMINAR APLICACIÓN", AP_BTN_E, "Button", 0x10010000 , 10,265,205,20



    CONTROL "", CNT_EDIT_C1,"Edit", ES_CENTER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 300,40,145,12
    CONTROL "", CNT_EDIT_C2,"Edit", ES_CENTER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 240,70,205,12
    CONTROL "", CNT_EDIT_C3,"Edit", ES_CENTER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 240,100,205,12
    CONTROL "", CNT_EDIT_C4,"Edit", ES_CENTER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 240,130,205,12
    CONTROL "", CNT_EDIT_C5,"Edit", ES_CENTER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 275,145,170,12
    CONTROL "", CNT_EDIT_C6,"Edit", ES_CENTER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 275,160,170,12
    CONTROL "", CNT_EDIT_C7,"Edit", ES_CENTER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 240,190,33,12
    CONTROL "", CNT_EDIT_C8,"Edit", ES_CENTER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 280,190,35,12
    CONTROL "", CNT_EDIT_C9,"Edit", ES_CENTER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 322,190,35,12
    CONTROL "", CNT_EDIT_C10,"Edit", ES_CENTER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 364,190,81,12
    CONTROL "", CNT_EDIT_C11,"Edit", ES_CENTER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 240,220,100,12
    CONTROL "", CNT_EDIT_C12,"Edit", ES_CENTER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 345,220,100,12
    CONTROL "", CNT_EDIT_C13,"Edit", ES_CENTER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 240,250,120,12
    CONTROL "", CNT_EDIT_C14,"Edit", ES_CENTER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 378,250,15,12
    CONTROL "", CNT_EDIT_C15,"Edit", ES_CENTER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 425,250,20,12
    CONTROL "CREAR NUEVA CUENTA", CNT_BTN_C, "Button", 0x10010000 , 240,265,205,20


    CONTROL "", CNT_EDIT_M1,"Edit", ES_CENTER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 470,70,172,12
    CONTROL "", CNT_EDIT_M2,"Edit", ES_CENTER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 550,100,20,12
    CONTROL "", CNT_EDIT_M3,"Edit", ES_CENTER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 630,100,12,12
    CONTROL "", CNT_EDIT_M4,"Edit", ES_CENTER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 470,130,172,12
    CONTROL "MODIFICAR CUENTA", CNT_BTN_M, "Button", 0x10010000 , 470,145,172,20
                                                                                                        //+53
    CONTROL "", CNT_EDIT_E1,"Edit", ES_CENTER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 472,190,145,12
    CONTROL "", CNT_EDIT_E2,"Edit", ES_CENTER | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 622,190,20,12
    CONTROL "ELIMINAR CUENTA", CNT_BTN_E, "Button", 0x10010000 , 470,205,172,20


    CONTROL ". . .", G_EDIT_ESTADO,"Edit", ES_CENTER | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 40,9,175,12
    CONTROL "MOSTRAR CLIENTE EN CMD", G_BTN_PRINTF_CMD_1, "Button", 0x10010000 , 470,235,172,20
    CONTROL "MOSTRAR PROCESADO EN CMD", G_BTN_PRINTF_CMD_2, "Button", 0x10010000 , 470,265,172,20
}

LANGUAGE 0, SUBLANG_NEUTRAL
1                  RT_MANIFEST    ".\\manifest.xml"
